In [1]:
#This code will import the necessary data from the larger data file and consolidate it into a new data frame that will then be saved as a new file.

#dependencies
from pathlib import Path
import pandas as pd

In [3]:
#Create a path to the data
original_data = Path("Resources/MERGED2011_12_PP.csv")

#read the data and convert it to a dataframe
original_df=pd.read_csv(original_data, low_memory=False)

original_df.head()

,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,NPCURL,...,BBRR4_PP_MALE_DISCHARGE,BBRR4_PP_NOMALE_N,BBRR4_PP_NOMALE_DFLT,BBRR4_PP_NOMALE_DLNQ,BBRR4_PP_NOMALE_FBR,BBRR4_PP_NOMALE_DFR,BBRR4_PP_NOMALE_NOPROG,BBRR4_PP_NOMALE_MAKEPROG,BBRR4_PP_NOMALE_PAIDINFULL,BBRR4_PP_NOMALE_DISCHARGE
0,100654,100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,100663,105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,100690,2503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,100706,105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,100724,100500,1005,Alabama State University,Montgomery,AL,36104-0271,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#Create a new dataframe using just the columns of data we need (pre-determined from sifting through the file and key)

final_df =original_df[["UNITID","INSTNM","STABBR","REGION","PREDDEG","CONTROL","ADM_RATE","TUITIONFEE_IN","TUITIONFEE_OUT",
                       "DEBT_MDN","GRAD_DEBT_MDN","COMPL_RPY_1YR_RT","COMPL_RPY_3YR_RT","COMPL_RPY_5YR_RT",
                       "MN_EARN_WNE_P6","MN_EARN_WNE_P10","CIP01BACHL","CIP05BACHL","CIP09BACHL","CIP11BACHL","CIP13BACHL",
                       "CIP14BACHL","CIP23BACHL","CIP26BACHL","CIP27BACHL","CIP38BACHL","CIP42BACHL","CIP45BACHL","CIP50BACHL",
                       "CIP52BACHL","CIP54BACHL"]].copy()

final_df.head()

,UNITID,INSTNM,STABBR,REGION,PREDDEG,CONTROL,ADM_RATE,TUITIONFEE_IN,TUITIONFEE_OUT,DEBT_MDN,...,CIP14BACHL,CIP23BACHL,CIP26BACHL,CIP27BACHL,CIP38BACHL,CIP42BACHL,CIP45BACHL,CIP50BACHL,CIP52BACHL,CIP54BACHL
0,100654,Alabama A & M University,AL,5.0,3,1,0.5010,6828.0,12156.0,11600,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
1,100663,University of Alabama at Birmingham,AL,5.0,3,1,0.7223,6264.0,14256.0,10276,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,100690,Amridge University,AL,5.0,3,2,NaN,8720.0,8720.0,6334,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,100706,University of Alabama in Huntsville,AL,5.0,3,1,0.6368,8094.0,19424.0,11250,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,100724,Alabama State University,AL,5.0,3,1,0.5080,8082.0,14394.0,9500,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0

In [5]:
#relabel column headers

final_df.columns=["UNITID","Institution Name","State","Region","Predominant Degree","Type of School","Admission Rate",
                  "Instate Tuition and Fees","Out of State Tuition and Fees","Median Debt Original Amount",
                  "Median Debt at Graduation","Debt repayment rate among grads - 1 year","Debt repayment rate among grads - 3 years",
                  "Debt repayment rate among grads - 5 years","Mean earnings 6 years after school entry",
                  "Mean earnings 10 years after school entry","Bachelor of Agriculture","Bachelor of Ethnic, Cultural or Gender Studies",
                  "Bachelor of Comms - Journalism","Bachelor of Comp Sci / IT","Bachelor of Education","Bachelor of Engineering", "Bachelor of English",
                  "Bachelor of Bio / Biomedical Sci","Bachelor of Math","Bachelor of Philosophy/Religion","Bachelor of Psychology",
                  "Bachelor of Social Science","Bachelor of Visual / Performing Arts","Bachelor of Business / Marketing","Bachelor of History"]

final_df.head()

,UNITID,Institution Name,State,Region,Predominant Degree,Type of School,Admission Rate,Instate Tuition and Fees,Out of State Tuition and Fees,Median Debt Original Amount,...,Bachelor of Engineering,Bachelor of English,Bachelor of Bio / Biomedical Sci,Bachelor of Math,Bachelor of Philosophy/Religion,Bachelor of Psychology,Bachelor of Social Science,Bachelor of Visual / Performing Arts,Bachelor of Business / Marketing,Bachelor of History
0,100654,Alabama A & M University,AL,5.0,3,1,0.5010,6828.0,12156.0,11600,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
1,100663,University of Alabama at Birmingham,AL,5.0,3,1,0.7223,6264.0,14256.0,10276,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,100690,Amridge University,AL,5.0,3,2,NaN,8720.0,8720.0,6334,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,100706,University of Alabama in Huntsville,AL,5.0,3,1,0.6368,8094.0,19424.0,11250,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
4,100724,Alabama State University,AL,5.0,3,1,0.5080,8082.0,14394.0,9500,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0

In [6]:
#drop rows with null values
final_df=final_df.dropna()

#drop universities that don't have bachelors programs for any of the fields of study we care about
indexDegree =final_df[ (final_df["Bachelor of Agriculture"] == 0) & (final_df["Bachelor of Ethnic, Cultural or Gender Studies"] == 0) 
                      & (final_df["Bachelor of Comms - Journalism"] == 0) & (final_df["Bachelor of Comp Sci / IT"] == 0)
                      & (final_df["Bachelor of Education"] == 0) & (final_df["Bachelor of Engineering"] == 0)
                      & (final_df["Bachelor of English"] == 0) & (final_df["Bachelor of Bio / Biomedical Sci"] == 0)
                      & (final_df["Bachelor of Math"] == 0) & (final_df["Bachelor of Philosophy/Religion"] == 0)
                      & (final_df["Bachelor of Psychology"] == 0) & (final_df["Bachelor of Social Science"] == 0)
                      & (final_df["Bachelor of Visual / Performing Arts"] == 0) & (final_df["Bachelor of Business / Marketing"] == 0)
                      & (final_df["Bachelor of History"] == 0)
                      ].index
final_df.drop(indexDegree, inplace=True)

In [7]:
#export file
final_df.to_csv('Resources/consolidated_data.csv')