In [1]:
#dependencies
from pathlib import Path
import pandas as pd

In [3]:
#Create a path to the data
path = Path("Resources/clean_consolidated_data.csv")

#read the data and convert it to a dataframe
df=pd.read_csv(path, low_memory=False)

df.head()

,Unnamed: 0.1,Unnamed: 0,UNITID,Institution Name,State,Region,Predominant Degree,Type of School,Admission Rate,Instate Tuition and Fees,...,Bachelor of Engineering,Bachelor of English,Bachelor of Bio / Biomedical Sci,Bachelor of Math,Bachelor of Philosophy/Religion,Bachelor of Psychology,Bachelor of Social Science,Bachelor of Visual / Performing Arts,Bachelor of Business / Marketing,Bachelor of History
0,0,0,100654,Alabama A & M University,AL,5.0,3,1,0.5010,6828.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
1,1,1,100663,University of Alabama at Birmingham,AL,5.0,3,1,0.7223,6264.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,2,3,100706,University of Alabama in Huntsville,AL,5.0,3,1,0.6368,8094.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,3,4,100724,Alabama State University,AL,5.0,3,1,0.5080,8082.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
4,4,5,100751,The University of Alabama,AL,5.0,3,1,0.4353,8600.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [4]:
for i in df['Region'] :
    if i == 1:
        df['Region'] ="New England"
    elif i ==2:
        df['Region'] ="Mid-atlantic"
    elif i ==3:
        df['Region'] ="East north central"
    elif i ==4:
        df['Region'] ="West North central"
    elif i ==5:
        df['Region'] ="Southeast"
    elif i ==6:
        df['Region'] ="Southwest"
    elif i ==7:
        df['Region'] ="North Central"
    elif i ==8:
        df['Region'] ="West"
    elif i ==9:
        df['Region'] ="U.S. Territories"
df.head()

,Unnamed: 0.1,Unnamed: 0,UNITID,Institution Name,State,Region,Predominant Degree,Type of School,Admission Rate,Instate Tuition and Fees,...,Bachelor of Engineering,Bachelor of English,Bachelor of Bio / Biomedical Sci,Bachelor of Math,Bachelor of Philosophy/Religion,Bachelor of Psychology,Bachelor of Social Science,Bachelor of Visual / Performing Arts,Bachelor of Business / Marketing,Bachelor of History
0,0,0,100654,Alabama A & M University,AL,Southeast,3,1,0.5010,6828.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
1,1,1,100663,University of Alabama at Birmingham,AL,Southeast,3,1,0.7223,6264.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,2,3,100706,University of Alabama in Huntsville,AL,Southeast,3,1,0.6368,8094.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,3,4,100724,Alabama State University,AL,Southeast,3,1,0.5080,8082.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
4,4,5,100751,The University of Alabama,AL,Southeast,3,1,0.4353,8600.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [5]:
for i in df['Type of School'] :
    if i == 1:
        df['Type of School'] ="Public"
    elif i ==2:
        df['Type of School'] ="Private Non-profit"
    elif i ==3:
        df['Type of School'] ="Private For-Profit"
        
df.head()

,Unnamed: 0.1,Unnamed: 0,UNITID,Institution Name,State,Region,Predominant Degree,Type of School,Admission Rate,Instate Tuition and Fees,...,Bachelor of Engineering,Bachelor of English,Bachelor of Bio / Biomedical Sci,Bachelor of Math,Bachelor of Philosophy/Religion,Bachelor of Psychology,Bachelor of Social Science,Bachelor of Visual / Performing Arts,Bachelor of Business / Marketing,Bachelor of History
0,0,0,100654,Alabama A & M University,AL,Southeast,3,Private For-Profit,0.5010,6828.0,...,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0
1,1,1,100663,University of Alabama at Birmingham,AL,Southeast,3,Private For-Profit,0.7223,6264.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
2,2,3,100706,University of Alabama in Huntsville,AL,Southeast,3,Private For-Profit,0.6368,8094.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
3,3,4,100724,Alabama State University,AL,Southeast,3,Private For-Profit,0.5080,8082.0,...,0.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0
4,4,5,100751,The University of Alabama,AL,Southeast,3,Private For-Profit,0.4353,8600.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0

In [6]:
df.to_csv('Resources/clean_consolidated_data.csv')